<div class="flex flex-col justify-around  h-full  ">
  <!-- Cards -->
  <div
    class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4 2xl:gap-7.5 "
    *ngIf=" ( apiResponseUsuarios$ | async)?.data as TotalUsuarios"
  >
    <!-- Card Item Start -->
    <div class="rounded-sm border  py-4 px-5 text-sm border-stroke shadow-lg">
      <div
        class="flex h-[30.5px] w-[30.5px] items-center justify-center rounded-full bg-gray-50 p-2"
      >
      <svg xmlns="http://www.w3.org/2000/svg"
      class="fill-[#4a69bd]"   width="22"
      height="16"
      fill="none"
      viewBox="0 0 16" >
        <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a.998.998 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207Z"/>
        <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"/>
      </svg>

      </div>

      <div class="mt-4 flex items-end justify-between">
        <div>
          <h4 class="text-lg font-bold text-black">{{TotalUsuarios.empleados?? 0}}</h4>
          <span class="text-slate-600 text-sm font-[500]"
            >Colaboradores</span
          >
        </div>
        <span class="flex items-center gap-1 text-sm font-medium text-meta-3">
          <svg
            class="fill-[#10B981]"
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.35716 2.47737L0.908974 5.82987L5.0443e-07 4.94612L5 0.0848689L10 4.94612L9.09103 5.82987L5.64284 2.47737L5.64284 10.0849L4.35716 10.0849L4.35716 2.47737Z"
              fill=""
            ></path>
          </svg>
        </span>
      </div>
    </div>
    <!-- Card Item End -->

    <!-- Card Item Start -->
    <div class="rounded-sm border  py-4 px-5 text-sm border-stroke shadow-lg">
      <div
        class="flex h-[30.5px] w-[30.5px] items-center justify-center rounded-full bg-gray-50 p-2"
      >
        <svg
          class="fill-[#4a69bd]"
          width="20"
          height="22"
          viewBox="0 0 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
        <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM6 6.75v8.5a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2.75a.75.75 0 0 0 1.5 0v-2.5a.25.25 0 0 1 .5 0Z"/>
     </svg>
      </div>

      <div class="mt-4 flex items-end justify-between">
        <div>
          <h4 class="text-lg font-bold text-black">{{TotalUsuarios.sociosclientes?? 0}}</h4>
          <span class="text-slate-600 text-sm font-[500]">Socios y Clientes</span>
        </div>

        <span class="flex items-center gap-1 text-sm font-medium text-meta-3">

          <svg
            class="fill-[#10B981]"
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.35716 2.47737L0.908974 5.82987L5.0443e-07 4.94612L5 0.0848689L10 4.94612L9.09103 5.82987L5.64284 2.47737L5.64284 10.0849L4.35716 10.0849L4.35716 2.47737Z"
              fill=""
            ></path>
          </svg>
        </span>
      </div>
    </div>
    <!-- Card Item End -->

    <!-- Card Item End -->

    <!-- Card Item Start -->
    <div class="rounded-sm border  py-4 px-5 text-sm border-stroke shadow-lg">
      <div
        class="flex h-[30.5px] w-[30.5px] items-center justify-center rounded-full bg-gray-50 p-2"
      >
        <svg
          class="fill-[#4a69bd]"
          width="26"
          height="22"
          viewBox="0 0 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
  <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>

        </svg>
      </div>

      <div class="mt-4 flex items-end justify-between">
        <div>
          <h4 class="text-lg font-bold text-black">{{TotalUsuarios.socios??0}}</h4>
          <span class="text-slate-600 text-sm font-[500]">Socios</span>
        </div>

        <span class="flex items-center gap-1 text-sm font-medium text-meta-3">
          <svg
            class="fill-[#10B981]"
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.35716 2.47737L0.908974 5.82987L5.0443e-07 4.94612L5 0.0848689L10 4.94612L9.09103 5.82987L5.64284 2.47737L5.64284 10.0849L4.35716 10.0849L4.35716 2.47737Z"
              fill=""
            ></path>
          </svg>
        </span>
      </div>
    </div>
    <!-- Card Item End -->
    <!-- Card Item Start -->
    <div

    class="rounded-sm border  py-4 px-5 text-sm border-stroke shadow-lg">

      <div
        class="flex h-[30.5px] w-[30.5px] items-center justify-center rounded-full bg-gray-50 p-2"
      >
        <svg
          class="fill-[#4a69bd]"
          width="22"
          height="18"
          viewBox="0 0 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        ><path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
        </svg>
      </div>

      <div class="mt-4 flex items-end justify-between">
        <div>
          <h4 class="text-lg font-bold text-black">{{ totalSociosBanca.total }}</h4>
          <span class="text-slate-600 text-sm font-[500]">Usuarios Banca</span>
        </div>


        <span class="flex items-center gap-1 text-sm font-medium text-meta-3">

          <svg
            class="fill-[#10B981]"
            width="10"
            height="11"
            viewBox="0 0 10 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.35716 2.47737L0.908974 5.82987L5.0443e-07 4.94612L5 0.0848689L10 4.94612L9.09103 5.82987L5.64284 2.47737L5.64284 10.0849L4.35716 10.0849L4.35716 2.47737Z"
              fill=""
            ></path>
          </svg>
        </span>
      </div>
    </div>
    <!-- Card Item End -->
  </div>

  <!-- End Cards -->

  <!-- Charts -->
  <div
    class="mt-4 grid grid-cols-12 gap-4 md:mt-6 md:gap-6 2xl:mt-7.5 2xl:gap-7.5 overflow-y-auto  "
  >
    <!-- ====== Chart One Start -->
    <div
      class="col-span-12 w-full  rounded-sm border border-stroke bg-white px-5 pt-7.5 pb-5 shadow-lg sm:px-7.5 xl:col-span-8"
    >
      <div
        class="w-fit  grid grid-cols-2 md:grid-cols-6 gap-y-1 gap-x-1 mx-auto mt-2"
      >
        <ng-container *ngFor="let mes of monthsOfYear; let i = index">
          <button
            (click)="reloadBarChart(i + 1)"
            class="text-xs bg-transparent h-8 w-24 hover:bg-blue-500 text-blue-700 hover:text-white py-2 px-2 border border-blue-500 hover:border-transparent rounded"
            [ngClass]="{'!bg-blue-500 text-white ':(i+1)===paramsToApi.monthIndex}"
          >
            {{ mes }}
          </button>
        </ng-container>
      </div>
      <canvas class="mt-5" id="myChart"> </canvas>
    </div>

    <!-- ====== Chart One End -->

    <!-- ====== Chart Two Start -->
    <div
      class="col-span-12 rounded-sm border border-stroke bg-white p-7.5 shadow-lg xl:col-span-4"
    >
      <div class="mb-4 justify-between gap-4 sm:flex m-auto">
        <canvas id="myChart2"></canvas>
      </div>
    </div>
    <!-- ====== Chart Two End -->
  </div>
  <!-- End Charts -->
</div>
