<div class="grid p-5 h-full  overflow-y-auto">
  <!-- Cards -->
  <ng-container *ngIf="apiResponseUsuarios$ | async as TotalUsuarios">
    <app-cards-dashboard [totalUsuarios]="TotalUsuarios.data" [totalUsuariosBanca] ="totalSociosBanca.total" />
  </ng-container>

  <!-- End Cards -->

  <!-- Charts -->
  <div
    class="h-auto relative  mt-1 grid grid-cols-12 gap-4 md:mt-6 md:gap-6 2xl:mt-7.5 2xl:gap-7.5 "
  >
    <!-- ====== Chart One Start -->
    <div
      class=" col-span-12 w-full  rounded-sm border border-stroke bg-white px-5 pt-7.5 pb-5 shadow-lg sm:px-7.5 xl:col-span-8 overflow-x-auto "
    >
      <div
        class="w-fit grid grid-cols-2 md:grid-cols-6 gap-y-1 gap-x-1 mx-auto mt-2"
      >
        <ng-container *ngFor="let mes of monthsOfYear; let i = index">
          <button
            (click)="reloadBarChart(i + 1)"
            class="text-xs bg-transparent h-8 w-24 hover:bg-blue-500 text-blue-700 hover:text-white py-2 px-2 border border-blue-500 hover:border-transparent rounded"
            [ngClass]="{
              '!bg-blue-500 text-white ': i + 1 === paramsToApi.monthIndex
            }"
          >
            {{ mes }}
          </button>
        </ng-container>
      </div>
      <canvas class="mt-5 " id="myChart"> </canvas>
    </div>

    <!-- ====== Chart One End -->

    <!-- ====== Chart Two Start -->
    <div
      class="col-span-12 rounded-sm border border-stroke bg-white p-7.5 shadow-lg xl:col-span-4"
    >
      <!-- <div class="mb-4 justify-between gap-4 sm:flex m-auto border border-green-200"> -->
        <canvas id="myChart2"></canvas>
      <!-- </div> -->
    </div>
    <!-- ====== Chart Two End -->
  </div>
  <!-- End Charts -->
</div>
