<div
  class="relative flex flex-col justify-start h-full items-center overflow-hidden space-y-5 py-1"
>

    <!-- Alert Error -->
    <!-- <div
      class="md:absolute top-5 right-0 bg-orange-100 border-l-4 max-w-xs border-orange-500 text-orange-700 p-4"
      role="alert"
      *ngSwitchCase="DataState.ERROR"
    >
      <p class="font-bold">Algo ocurrio</p>
      <p>No se pudo conectar al servidor</p>
    </div> -->
    <!-- Form -->
    <form class="md:w-64 flex flex-col space-y-5 p-2">
      <section>
        <app-selector-agencias (agenciasOutput)="agenciaSeleccionada($event)" />
      </section>
      <section>
       <app-selector-usuarios (asesorOutput)="asesorSeleccionado($event)" [codAgenciaInput]="paramsToAPI.agenciasId"  />
      </section>
      <!-- Boton Generar Reporte -->
      <div class="flex justify-center">
        <app-boton-generar-reporte (click)="onSubmit()"
        [seValidaronCampos] = "parametrosOk()"
        [estadoReporte]="reportState$.state!"
        />
      </div>
    </form>

  <!-- Contenedor PDF -->
  <div class="w-full h-full p-5 overflow-scroll bg-slate-100">
    <div class="font-normal m-auto border w-full h-auto bg-white px-5 pt-5">
      <div
        class="overflow-x-auto w-full overflow-y-auto px-10 pt-2 sm:-mx-6 lg:-mx-8 mt-5"
      >
        <!-- Header -->
        <!-- <div #headerTable class="w-full relative">
          <div class="w-full flex justify-center items-center space-x-10">
            <img
              class="h-10 w-auto"
              src="../../../assets/img/logofull.png"
              alt=""
            />

            <span class="text-right text-2xl font-bold text-tertiary"
              >REPORTE DE CUOTAS VENCIDAS</span
            >
          </div>

          <div class="ml-5 mt-10 grid gap-2">
            <div class="space-x-2">
              <label class="font-bold" for="">Asesor:</label>
              <span>{{ nombreAsesorSeleccionado }}</span>
            </div>
            <div class="space-x-2">
              <label class="font-bold" for="">Agencia:</label>
              <span>{{ nombreAgenciaSeleccionada }}</span>
            </div>
            <div class="space-x-2">
              <label class="font-bold" for="">Fecha:</label>
              <span>{{ paramsToAPI.fechaCorte }}</span>
            </div>
          </div>
        </div> -->

        <!-- Table -->
        <table
          datatable
          [dtOptions]="dtOptions"
          class="font-light row-border hover cell-border stripe mt-20!"
          #tableCuotas
        >
          <thead>
            <!-- Boton Excel-->
            <button
              class="flex select-none items-center gap-3 border border-green-600 py-1 px-4 text-center align-middle font-sans text-sm font-bold uppercase text-green-500 transition-all hover:bg-green-600 rounded-sm disabled:bg-none hover:text-white hover:opacity-75 focus:ring focus:ring-green-200 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              [disabled]="reportState$.data && reportState$.data.length == 0"
              (click)="exportToExcel()"
            >
              Exportar
              <i class="bx bxs-file-export text-lg"></i>
            </button>
          </thead>
          <tbody></tbody>
          <tfoot class="text-primary">
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Totales:</th>
              <th class="font-thin text-right"></th>
              <th class="font-thin text-right"></th>
              <th></th>
              <th class="font-thin text-right"></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
        <!-- Footer -->
        <div
          #footerTable
          *ngIf="reportState$.state === DataState.LOADED && !esPrimeraCarga"
          class="ml-5 text-primary grid gap-2 w-52 pb-10"
        >
          <div class="space-x-2">
            <label class="font-bold" for="">Cartera:</label>
            <span>{{ calculosReporte.cartera }}</span>
          </div>
          <div class="space-x-2">
            <label class="font-bold" for="">Colocación:</label>
            <span>{{ calculosReporte.colocacion }}</span>
          </div>
          <div class="space-x-2">
            <label class="font-bold" for="">Morosidad:</label>
            <span>{{ calculosReporte.morosidad }}</span>
          </div>
          <div class="space-x-2">
            <label class="font-bold" for="">Socios Nuevos:</label>
            <span>{{ calculosReporte.sociosNuevos }}</span>
          </div>
          <div class="space-x-2">
            <label class="font-bold" for="">Socios:</label>
            <span>{{ calculosReporte.socios }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
