/* Sidebar Submenu */

.show-submenu {
  display: block;
  max-height: 18rem;
}

/* Submenu Active */

.active-submenu-link {
  @apply bg-slate-500 !text-slate-50;
}

.menu__link {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
  --tw-text-opacity: 1 !important;
    color: rgb(248 250 252 / var(--tw-text-opacity)) !important;
}
/*
.collapse-sidebar {
  @apply w-60 transition-all ease-in duration-200;
} */

.show-element {
  transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}

.icon {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  cursor: pointer;
}

.border_item-effect {
  border-left: 0.5px solid rgb(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;
  position: relative;
  min-height: 35px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.border_item-effect::before {
  content: "";
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background-color: #dddbdb;
  padding: 0;
  position: absolute;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  opacity: 80%;
}

.elements-hidden img,
.elements-hidden span {
  opacity: 50;
  position: absolute;
  /* z-index: -1000; */
  width: 0;
  height: 0;
  overflow: hidden;
  /* display: none; */
}
