<div
  class="relative flex flex-col justify-start h-full items-center overflow-hidden space-y-5 py-5"
>

    <!-- Form -->
    <form class="md:w-64 flex flex-col space-y-5 p-2">
      <div >
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs mb-2"
          for="grid-password"
        >
          Fecha Inicio
        </label>
        <input  class="text-sm font-poppins block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        [(ngModel)]="paramsToAPI.fechaInicio" type="date" name="fechaInicio" id="fechaInicio">

      </div>
      <div>
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs mb-2"
          for="grid-password"
        >
          Fecha Fin
        </label>
        <input  class="text-sm font-poppins block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        [(ngModel)]="paramsToAPI.fechaFin" type="date" name="fechaFin" id="fechaFin">

      </div>

      <!-- <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p> -->

      <div class="flex justify-center">
        <ng-container *ngIf="reportState$" [ngSwitch]="reportState$.state">
          <app-boton-generar-reporte (click)="onSubmit()"
      [seValidaronCampos] = "parametrosOk()"
      [estadoReporte]="reportState$.state!"
      />
        </ng-container>
    </div>
    </form>
    <div
      class="overflow-x-auto w-full overflow-y-auto px-10 pt-5 sm:-mx-6 lg:-mx-8 mt-5 "
    >
    <table
    [dtOptions]="dtOptions"
        datatable
        class="text-left text-sm row-border hover cell-border stripe"
      ></table>
    </div>

</div>
